section.about 
  .container 
    .title-box
      h2.title.title-gold.about__title Кейтеринговая #[br] служба «Шаляпин»
    .about__box 
      .about__item.about__item--menu
        img.about__icon.about__icon--menu(src="img/compress/about-1.webp", alt="@")
        h6.about__name Меню
        p.about__text Гибкое меню по выбору заказчика. Любая кухня. Специальные предложения. Блюда по рецепту клиента. Любые формы – от фуршета до застолья.
      .about__item.about__item--team
        img.about__icon.about__icon--team(src="img/compress/about-2.webp", alt="@")
        h6.about__name Команда
        p.about__text Опытный постоянный персонал со стажем. Регулярное тестирование и аттестация команды. Компетентность. Деликатность. Приватность.
      .about__item.about__item--info
        p.about__info Ресторан на природе, ресторан у вас дома, ресторан в офисе, ресторан на международном симпозиуме или на стадионе – у «Шаляпина» многолетний опыт организации любых форм выездного ресторанного обслуживания. Преимущества кейтеринга – в индивидуальном подходе к пожеланиям заказчика, вариативность меню в зависимости от вкусови бюджета клиента, возможность организации мероприятия под ключ по принципу «ресторан – там, где вы».
      .about__item.about__item--slogan
        h6.about__slogan «ресторан – #[br] там, #[br] где вы»
      .about__item.about__item--size
        img.about__icon.about__icon--size(src="img/compress/about-3.webp", alt="@")
        h6.about__name Масштаб
        p.about__text Большой опыт мероприятий любого формата и масштаба – от детского праздника до приема на 1500 персон.
      .about__item.about__item--turnkey
        img.about__icon.about__icon--turnkey(src="img/compress/about-4.webp", alt="@")
        h6.about__name Под ключ
        p.about__text Организация мероприятий под ключ – от мебели до музыки. Поиск декораторов, диджеев, конферансье, музыкантов, артистов и клоунов
      .about__item.about__item--geo
        img.about__icon.about__icon--geo(src="img/compress/about-5.webp", alt="@")
        h6.about__name География
        p.about__text Любая локация в Санкт-Петербургеи Ленинградской области, в любом помещении и на свежем воздухе. Возможен выезд и в другие города России.