section.about 
  .container 
    .title-box
      h2.title.title-gold.about__title Кейтеринговая #[br] служба «Шаляпин»
    .about__box 
      .about__item.about__item--menu
        img.about__icon.about__icon--menu(src="img/compress/about-1.webp", alt="@")
        h6.about__name Меню
        p.about__text Выбор из большого количества видов меню, привлекательные варианты для самых разных вкусов и бюджетов. Мы готовим блюда всех стран мира, а также блюда по индивидуальным рецептам гостей. 
      .about__item.about__item--team
        img.about__icon.about__icon--team(src="img/compress/about-2.webp", alt="@")
        h6.about__name Команда
        p.about__text Наш персонал — высококвалифицированная команда с большим опытом работы. Все работники проходят регулярное тестирование и аттестацию. Компетентность, деликатность, приватность —  формула, которой придерживается каждый сотрудник кейтеринг-команды «Шаляпин».
      .about__item.about__item--info
        p.about__info Ресторан на природе, ресторан у вас дома, ресторан в офисе, ресторан на международном симпозиуме или на стадионе – у «Шаляпина» многолетний опыт организации любых форм выездного ресторанного обслуживания. 
      .about__item.about__item--slogan
        h6.about__slogan «ресторан – #[br] там, #[br] где вы»
      .about__item.about__item--size
        img.about__icon.about__icon--size(src="img/compress/about-3.webp", alt="@")
        h6.about__name Масштаб
        p.about__text Масштабные мероприятия — наша сильная сторона. У нас большой опыт организации мероприятий любого формата таких как - кубок конфедераций 2017, евро 2020, концерты крупных европейских исполнителей на Газпром арене. 
      .about__item.about__item--turnkey
        img.about__icon.about__icon--turnkey(src="img/compress/about-4.webp", alt="@")
        h6.about__name Под ключ
        p.about__text Организация «под ключ» — мы подберем все необходимое для мероприятия, от мебели до музыки. Берем на себя все, поиск ведущих, декораторов, диджеев, музыкантов, артистов и аниматоров. 
      .about__item.about__item--geo
        img.about__icon.about__icon--geo(src="img/compress/about-5.webp", alt="@")
        h6.about__name География
        p.about__text Любая локация в Санкт-Петербурге и Ленинградской области. Возможен выезд и в другие города и страны. 