section.catalog#catalog
  .title-box
    h2.title.title-gold.catalog__title Фуршетный #[br] каталог 
  .catalog__sliderbox 
    .catalog__slider.swiper.js-sliderCatalog 
      .swiper-wrapper 
        each item in [3, 2, 1, 4, 5]
          .swiper-slide
            a(href=`img/compress/catalog-slide-${item}.webp` data-fancybox="gallery")  
              img.catalog__foto(src=`img/compress/catalog-slide-${item}.webp`, alt="foto") 
        each item in [3, 2, 1, 4, 5]
          .swiper-slide 
            a(href=`img/compress/catalog-slide-${item}.webp` data-fancybox="gallery")
              img.catalog__foto(src=`img/compress/catalog-slide-${item}.webp`, alt="foto") 
      .swiper-pagination
  .catalog__downloads
    h6.catalog__downloadstitle Скачать каталог
    .catalog__downloadsbox
      a.catalog__download(href="https://catering.shalyapinspb.ru/files/furshet_catalog_dachnyi.pdf" target="_blank") дачный ресторан
      a.catalog__download(href="img/furshet_catalog-gorod.pdf" target="_blank") городской ресторан