footer.footer
  .container 
    .footer__box 
      .footer__contacts
        a.footer__val(href="tel:+78124457852") +7 (812) 445-78-52 
        a.footer__val(href="mailto:banket@shalyapinspb.ru") banket@shalyapinspb.ru
        a.footer__val(href="#") Оставить отзыв 
      img.footer__logo(src="img/svg/logo.svg", alt="logo")
      .footer__links
        a.footer__val(href="#") Политика конфиденциальности
        a.footer__val(href="#") Реквизиты