section.formats#formats
  .container
    .title-box 
      h2.title.title-white.formats__title Форматы #[br] кейтеринга
    .swiper.formats__slider.js-sliderFormat 
      .swiper-wrapper
        .swiper-slide 
          .format
            img.format__foto1(src="img/compress/format-slide-1.webp", alt="@")
            .format__info
              h6.format__title Свадебные торжества
              p.format__text Свадьба — грандиозное событие, каждый элемент которого должен быть хорошо продуман и организован: от идеального фасона платья до безукоризненного праздничного стола. Мы умеем делать всё для того, чтобы праздник прошёл незабываемо и Вам не пришлось ни о чём беспокоиться.
              p.format__text Банкетный менеджер поможет определиться с наилучшим вариантом сервировки, учтёт пожелания по оформлению, сопровождению и декору, а опытная ресторанная команда составит меню с учётом Ваших вкусов и пожеланий. 
              p.format__text Мы предлагаем широкий выбор блюд и работаем с  различными ценовыми категориями и форматами. Для эффектного завершения торжества наши кондитеры испекут торт вашей мечты с тематическим декором на любой вкус.
            img.format__foto2(src="img/compress/format-slide-2.webp", alt="@")
        .swiper-slide 
          .format
            img.format__foto1(src="img/original/format-slide-3.jpg", alt="@")
            .format__info
              h6.format__title Дни рождения и юбилеи
              p.format__text Отметить день рождения в кругу близких и друзей — добрая традиция. Мы ценим традиции и будем рады устроить незабываемый праздник, в котором учтём все Ваши пожелания. Мы поможем подобрать площадку под желаемый формат празднования — будь то банкет или частная закрытая вечеринка с приглашенными артистами. Составим для вас индивидуальное меню и обеспечим первоклассный сервис, чтобы Ваши гости могли наслаждаться праздником и ни о чём не беспокоиться.
              p.format__text Для именинников наши кондитеры приготовят праздничный торт.
            img.format__foto2(src="img/original/format-slide-4.jpg", alt="@")
        .swiper-slide 
          .format
            img.format__foto1(src="img/original/format-slide-5.jpg", alt="@")
            .format__info
              h6.format__title Детские праздники
              p.format__text Организовать праздник для маленьких гостей — особенно ответственная задача, ведь этот день должен быть похож на сказку. #[br] Мы возьмем на себя заботы о празднике: подберём подходящую площадку, позаботимся об увлекательной программе, оформлении зала, развлечениях для гостей и, конечно же, о разнообразном и вкусном меню. По Вашим пожеланиям мы подберем самые полезные и вкусные блюда и организуем сладкий стол с угощениями ручной работы.
            img.format__foto2(src="img/original/format-slide-6.jpg", alt="@")
        .swiper-slide 
          .format
            img.format__foto1(src="img/original/format-slide-7.jpg", alt="@")
            .format__info
              h6.format__title Корпоративные мероприятия
              p.format__text Корпоративный поход в ресторан или выезд загород — мы поможем вам провести мероприятие вкусно и весело! Подготовим индивидуальное меню под Ваш бюджет, организуем декор, пригласим ведущего и фотографа — словом, сделаем всё, чтобы Ваш праздник прошёл на отлично и оставил добрые воспоминания у коллег.
            img.format__foto2(src="img/original/format-slide-8.jpg", alt="@")
        .swiper-slide 
          .format
            img.format__foto1(src="img/original/format-slide-9.jpg", alt="@")
            .format__info
              h6.format__title Бизнес-мероприятия
              p.format__text Деловые мероприятия требуют идеального сервиса и выверенного тайминга. Мы поможем организовать бизнес-мероприятие на высочайшем уровне. Обеспечим ненавязчивый и качественный сервис, соответствующее случаю меню и подходящую обстановку, будь то презентация ежегодного отчета или деловые переговоры.
            img.format__foto2(src="img/original/format-slide-10.jpg", alt="@")
      .formats__nav
        button.formats__navbtn.formats__navbtn--prev
          img(src="img/svg/icon-format-arrow-left.svg", alt="@")
        .formats__pagination
        button.formats__navbtn.formats__navbtn--next
          img(src="img/svg/icon-format-arrow-right.svg", alt="@")
  button.formats__button.connect.js-openModal(data-src="#modal") Связаться с менеджером

include ./../sections/_modal.pug