section.order-form#contacts 
  .order-form__box 
    .title-box
      h2.title.title-gold.order-form__title Оставить заявку
    form.form.order-form__form(action="#")
      input.form__input(type="text" placeholder="ИМЯ")
      input.form__input.js-maskPhone(type="text" placeholder="ТЕЛЕФОН")
      span.form__agree Отправляя данные, Вы соглашаетесь с условиями #[br] пользовательского соглашения
      button.form__btn отправить
  .social 
    a(href="#")
      img.social__icon(src="img/svg/icon-phone.svg", alt="@") 
    a(href="#")
      img.social__icon(src="img/svg/icon-vk.svg", alt="@") 
    a(href="#")
      img.social__icon(src="img/svg/icon-whatsapp.svg", alt="@") 
