.catalog{
  padding-top: 15rem;
  padding-bottom: 15rem;
  @media(max-width: 768px){
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  &__title{
    margin-bottom: 9.9rem;
    @media(max-width: 768px){
      margin-bottom: 4rem;
    }
  }
  &__sliderbox{
    width: 100%;
    margin-bottom: 8rem;
    overflow: hidden;
    @media(max-width: 768px){
      margin-bottom: 4rem;
    }
  }
  &__slider{
    width: 197rem;
    left: 50%;
    transform: translateX(-50%);
    @media(max-width: 1600px){
      
    }
    @media(max-width: 768px){
      width: 53.5rem;
    }
    .swiper-pagination{
      opacity: 0;
    }
    .swiper-slide{
      width: 37.7rem;
      height: 43.4rem;
      @media(max-width: 768px){
        width: 16.8rem;
        height: 19.2rem;
      }
      .catalog__foto{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      a{
        &:focus-visible{
          outline: none;
        }
      }
    }
  }
  &__download{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.2rem;
    height: 4.5rem;
    margin: 0 auto;
    font-family: $font-1;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid $color-1;
    transition: all .3s;
    @media(hover: hover){
      &:hover{
        background: $color-1;
        color: $color-2;
      }
    }
    @media(max-width: 768px){
      width: 22.5rem;
    }
  }
}