@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant-SemiBold';
	src: local('Cormorant-SemiBold'), local('Cormorant-SemiBold'),
		url('../fonts/Cormorant/Cormorant-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantGaramond-SemiBold';
	src: local('CormorantGaramond-SemiBold'), local('CormorantGaramond-SemiBold'),
		url('../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantGaramond-Regular';
	src: local('CormorantGaramond-Regular'), local('CormorantGaramond-Regular'),
		url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantGaramond-Medium';
	src: local('CormorantGaramond-Medium'), local('CormorantGaramond-Medium'),
		url('../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantGaramond-MediumItalic';
	src: local('CormorantGaramond-MediumItalic'), local('CormorantGaramond-MediumItalic'),
		url('../fonts/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

