$font-1: 'Proxima Nova Rg';
$font-2: 'Cormorant-SemiBold';
$font-3: 'CormorantGaramond-SemiBold';
$font-4: 'CormorantGaramond-Regular';
$font-5: 'CormorantGaramond-Medium';
$font-6: 'CormorantGaramond-MediumItalic';

$color-mainbg: #F5F0ED;
$color-sectionbg: #789984;
$color-1: #A98A5B;
$color-2: #FFFFFF;
$color-3: #F5F0ED;
