<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Shalyapin 
	body
		
		include ./../sections/_header.pug
		
		include ./../sections/_present.pug

		include ./../sections/_about.pug

		include ./../sections/_formats.pug

		include ./../sections/_catalog.pug

		include ./../sections/_place.pug

		include ./../sections/_cases.pug

		include ./../sections/_orderForm.pug
		
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug