<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Templates
	body
		include ./../sections/_header.pug

		.templates(style="padding: 50px")
			
			h1(style="margin-bottom: 50px;") Шрифты

			div(style="margin-bottom: 20px; font-size: 60px; color: red;") Proxima Nova Regular (font-weight: 400)

			p(style="margin-bottom: 20px; font-size: 20px;") Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Его то собрал там вскоре! Ipsum страна запятой сбить великий правилами дороге речью над она толку? Себя семантика встретил дороге.

			div(style="margin-bottom: 20px; font-family: 'Cormorant-SemiBold'; font-size: 60px; color: red;") Cormorant-SemiBold (font-weight: 600)

			p(style="margin-bottom: 20px; font-family: 'Cormorant-SemiBold'; font-size: 60px; text-transform: uppercase") Банкеты & кейтеринг
			
			div(style="margin-bottom: 20px; font-family: 'CormorantGaramond-SemiBold'; font-size: 60px; color: red;") CormorantGaramond-SemiBold (font-weight: 600)
			
			p(style="margin-bottom: 20px; font-family: 'CormorantGaramond-SemiBold'; font-size: 36px; ") Меню, Команда, Масштаб, Под ключ, География 

			div(style="margin-bottom: 20px; font-family: 'CormorantGaramond-Medium'; font-size: 60px; color: red;") CormorantGaramond-Regular (font-weight: 500)

			p(style="margin-bottom: 20px; font-family: 'CormorantGaramond-Medium'; font-size: 52px; ") Городской «Шаляпин»

			div(style="margin-bottom: 20px; font-family: 'CormorantGaramond-Regular'; font-size: 60px; color: red;") CormorantGaramond-Regular (font-weight: 400)

			p(style="margin-bottom: 20px; font-family: 'CormorantGaramond-Regular'; font-size: 28px; ") Ресторан на природе, ресторан у вас дома, ресторан в офисе, ресторан на международном симпозиуме или на стадионе – у «Шаляпина» многолетний опыт организации любых форм выездного ресторанного обслуживания. Преимущества кейтеринга – в индивидуальном подходе к пожеланиям заказчика, вариативность меню в зависимости от вкусови бюджета клиента, возможность организации мероприятия под ключ по принципу «ресторан – там, где вы».

		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug